<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>NavigationBar</title>

</head>
<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark"
		th:fragment="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/ticket/list}">Ticket Tracker
					System</a>
			</div>
			<ul class="nav navbar-nav mr-auto">
				<li><a class="nav-link" th:href="@{/ticket/list}">Tickets</a></li>

				<li><a class="nav-link"
					th:href="@{/ticket/showTicketForm_Save}">New Ticket</a></li>

			</ul>
		</div>
	</nav>

</body>
</html>